body {
  background-color: rgb(58, 67, 165);
  color: #ccc;
  font-family: sans-serif;
  padding: 0 1rem;

  h1 {
    color: rgb(159, 252, 9);
  }
  .germanNouns{
    .germanNoun{
      background-color: #222;
      margin-bottom: 1rem;
      padding: 1rem;
      .singular{
        color: orange;
      }
    }
  }
}
